@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed&display=swap');

/* --------- Global style */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: 50px;
}

body {
    font-family: 'Cabin', sans-serif;
    background-color: white;
    color: black;
    font-Size: 1.2em;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-Size: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(10, 10, 70);
    padding: 10px;
}

p {
    font-family: 'Cabin', Sans-Serif;
    padding: 20px;
    font-size: 1em;
    line-height: 30px;
    color: #252525;
}

/*  Heading */

.heading {
    padding: 30px;
    text-align: center;
    font-size: 2.5rem;
}

/* landing page layout */

#landing {
    position: relative;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.intro-area {
    width: 70%;
    margin: auto;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    text-align: center;
    font-size: 1.2em;
    background-color: #E6ECF0;
    box-sizing: border-box;
    padding: 20px;
}

.username-info {
    border: none;
    border: 1px solid #3a3a3a;
    margin-bottom: 5px;
    border-radius: 3px;
    outline: none;
    padding: 5px;
}

#username-submit {
    width: 10%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #4ba4e0;
    cursor: pointer;
    outline: none;
  }

.btn-area {
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-start {
    background-color: #4b74c0;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    position: 20vh;
}

a {
    color: white;
}

a:hover {
    color: yellow;
}

/* Questions page layout */

#quiz-box {
    position: relative;
    padding-top: 50px;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
}

.question-area {
    text-align: left;
    font-size: 1.2em;
    background-color: #E6ECF0;
    width: 70%;
    margin: auto;
    padding: 1%;
    display: flex;
    align-items: left;
    flex-direction: column;
}

#question{
    margin-bottom: 3rem;
    padding-left: 20px;
    padding-top: 20px;
}

.option{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    width: 20rem;
    background: lightblue;
}

ol{
    padding: 0 4rem;
}

span{
    display: block;
    padding: 0.1rem 0.7rem;
    border-radius: 1rem;
}


#btn-next {
    background-color: #4b74c0;
    border: none;
    padding: 15px 32px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 0 100px;
}

/*Result area layout*/

#result {
    position: relative;
    padding: 0;
    margin-top: 50px;
}

#result-area {
    width: 70%;
    margin: auto;
    padding: 1%;
    text-align: center;
    font-size: 1.2em;
    background-color: #E6ECF0;
}

#score-title {
    margin: 1em;
}

#score {
   font-size: 1em;
}

#back-to-quiz {
    background-color: #4b74c0;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    position: 20vh;
}